/*
>>>GLOBAL<<< CSS imports & definitions

Do NOT put anything in this file that is not global.  We do not perform
namespace mangling on these definitions.  See webpack config for specifics.
*/
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  src: url("./fonts/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url("./fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url("./fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
}

::-webkit-scrollbar {
  height: 14px; /* 5px top and bottom, 4px track */
  width: 14px; /* 5px left and right, 4px track */
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #CED9E0; /* Colors.LIGHT_GRAY1 */ /* TODO(cc) revisit variable specification */
  border: 5px solid transparent;
  border-radius: 14px;
}
